/* Jani része
*/
body {
    
}

.probalkozas {
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    width: fit-content;
    height: auto;
    background-color: #39b979;
}

.ikonkep {
    width: 200px;
}




























/*
----------------------------------------------------------------
*/











/*
Balátzs része
*/

h1{
    
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}