/* Jani része
*/
.container {
    width: 800px;
}

h1{
    font-size: 35px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    
}

.probalkozas {
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    width: fit-content;
    height: auto;
    background-color: #39b979;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.ikonkep {
    width: 200px;
}




























/*
----------------------------------------------------------------
*/











/*
Balátzs része
*/

