/* Jani része
*/
.container {
    width: 800px;
}

.probalkozas {
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    width: fit-content;
    height: auto;
    background-color: #39b979;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.ikonkep {
    width: 200px;
}




























/*
----------------------------------------------------------------
*/