body{
    font-family: arial;
}

h1{
    font-weight: 600;
    font-family: arial;
    letter-spacing: 1px;
}

.felso{
    background-color: #cccccc;
    border-bottom: 3px solid #333333;
}

.cards{
    border: 2px solid #333333;
    border-radius: 15px;
    background-color: #3cb878; 
}

.container{
    width: 800px;
    padding: 0;
}

img{
    width: 200px;
}

.Vers {
    color: #333333;
    font-weight: bold;
}

.list-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.pipe-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pipe-list li {
    display: inline-block;
    margin-right: 10px;
}

.pipe-list li:last-child {
    margin-right: 0;
}

a {
    color: #3cb878;
    text-decoration: underline;
}

a:hover {
    color: #3cb878;
    text-decoration: underline;
}

.card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card-link:hover {
    text-decoration: none;
    color: inherit;
}

ul{
    font-size: 20px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #333333;
    content: ">"
  }

.versike {
    color: #333333;
}

h5{
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

h4{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

p{
    font-size: large;
    line-height: 5px;
    text-align: center;
}