body{
    font-family: arial;
}

h1{
    font-weight: 600;
    font-family: arial;
    letter-spacing: 1px;
}

.felso{
    background-color: #cccccc;
    border-bottom: 3px solid #333333;
}

.cards{
    border: 3px solid #333333;
    border-radius: 15px;
    background-color: #3cb878; 
}

.container{
    width: 800px;
}

img{
    width: 200px;
}

ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 50px;
  }
  