body{
    font-family: arial;
}

h1{
    font-weight: 600;
    font-family: arial;
    letter-spacing: 1px;
}

h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.felso{
    background-color: #cccccc;
    border-bottom: 3px solid #333333;
}

.cards{
    border: 3px solid #333333;
    border-radius: 15px;
    background-color: #3cb878; 
}

.card-deck{
    margin-left: 0px;
    margin-right: 0px;
}

.container{
    width: 800px;
    padding: 0;
}

.Vers {
    color: #333333;
    font-weight: bold;
}

.list-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.pipe-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pipe-list li {
    display: inline-block;
    margin-right: 10px;
}

.pipe-list li:last-child {
    margin-right: 0;
}

a {
    color: #3cb878;
    text-decoration: underline;
}

a:hover {
    color: #3cb878;
    text-decoration: underline;
}

.card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card-link:hover {
    text-decoration: none;
    color: inherit;
}

ul{
    font-size: 20px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #333333;
    content: ">"
  }

.versike {
    color: #333333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0 auto;
}

p{
    padding: 5px;
    font-size: 18px;
}

h6{
    font-weight: bold;
    margin-top: -14px;
}

h5{
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}

h4{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

pre{
    width: 635px;
    text-align: left;
}

.cim{
    font-size: 30px;
}

.kupa{
    width: 30px;
}

.legitarskep{
    width: 37%;
    height: 20%;
}

.logokep{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
}

.szamstat{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 14px;
    margin-top: -12px;
}